doctype html 
html 
    head 
        title #{title}
        link(rel="stylesheet", href="./stylesheets/formstyle.css")

    body 
        .box 
          .header 
             h2 #{header}
          if(record=='')
            .content
              h1 #{header}
            button.btn 
                  a(href="/login")  Login
          else 
            .content 
              form(action='/changepassword' method='post')
                table
                  tbody
                    tr 
                      td
                        lable(for='password') New Password:-
                      td
                        input(type="password" name='password')
                        input(type="hidden" name='phone' value=`${record.PhoneNo}`)
                br
                button.btn(type='submit') Change
                
          .footer 
            h2 #{msg}
          